In [2]:
import pandas as pd
import folium
from haversine import haversine
import numpy as np
import seaborn as sns
import json
import os
from copy import deepcopy 
import geopandas as gpd
from shapely.geometry import Point
sns.set()

In [3]:
# Local
# Font
import matplotlib
from matplotlib import font_manager, rc
import platform
if platform.system()=="Windows":
    font_name=font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus']=False

import warnings
warnings.filterwarnings("ignore")

In [4]:
path = "D:\COMPAS\SBJ_2012_001"

__csv files__

In [97]:
주정차단속 = pd.read_csv(os.path.join(path,'1.오산시_주정차단속(2018~2020).csv'),encoding="utf-8")
유동인구 = pd.read_csv(os.path.join(path,'8.오산시_유동인구(2019).csv'),encoding="utf-8")
어린이보호구역 = pd.read_csv(os.path.join(path,'9.오산시_어린이보호구역.csv'),encoding="utf-8")
학교위치정보 = pd.read_csv(os.path.join(path,'10.오산시_학교위치정보.csv'),encoding="utf-8")
어린이집_유치원현황 = pd.read_csv(os.path.join(path,'13.오산시_어린이집_유치원현황.csv'),encoding="utf-8")
기상데이터 = pd.read_csv(os.path.join(path,'14.오산시_기상데이터(2010~2019).csv'),encoding="utf-8")
무인교통단속카메라 = pd.read_csv(os.path.join(path,'15.오산시_무인교통단속카메라.csv'),encoding="utf-8")
도로안전표지 = pd.read_csv(os.path.join(path,'16.오산시_도로안전표지표준데이터.csv'),encoding="utf-8")
과속방지턱 = pd.read_csv(os.path.join(path,'18.오산시_과속방지턱표준데이터.csv'),encoding="utf-8")
CCTV설치현황 = pd.read_csv(os.path.join(path,'20.오산시_CCTV설치현황.csv'),encoding="utf-8")
버스정류장 = pd.read_csv(os.path.join(path,'22.오산시_버스정류장.csv'),encoding="utf-8")
시간대별_추정교통량 = pd.read_csv(os.path.join(path,'24.평일_전일,시간대별_오산시_추정교통량_Level6.csv'),encoding="utf-8")
혼잡빈도강도 = pd.read_csv(os.path.join(path,'25.평일_전일_오산시_혼잡빈도강도_Level6.csv'),encoding="utf-8")
혼잡시간강도 = pd.read_csv(os.path.join(path,'26.평일_전일_오산시_혼잡시간강도_Level6.csv'),encoding="utf-8")
체육시설현황 = pd.read_csv(os.path.join(path,'29.오산시_체육시설현황.csv'),encoding="utf-8")
학원_및_교습소_현황 = pd.read_csv(os.path.join(path,'30.오산시_학원 및 교습소 현황.csv'),encoding="utf-8")

__geojson files__

In [89]:
어린이교통사고_격자 = gpd.read_file(os.path.join(path,'2.오산시_어린이교통사고_격자.geojson'))
차량등록현황_격자 = gpd.read_file(os.path.join(path,'3.오산시_차량등록현황_격자.geojson'))
거주인구격자_총인구 = gpd.read_file(os.path.join(path,'4.오산시_연령별_거주인구격자(총인구).geojson'))
거주인구격자_유소년 = gpd.read_file(os.path.join(path,'5.오산시_연령별_거주인구격자(유소년).geojson'))
거주인구격자_생산가능 = gpd.read_file(os.path.join(path,'6.오산시_연령별_거주인구격자(생산가능인구).geojson'))
거주인구격자_고령 = gpd.read_file(os.path.join(path,'7.오산시_연령별_거주인구격자(고령).geojson'))
초등학교_통학구 = gpd.read_file(os.path.join(path,'11.오산시_초등학교_통학구.geojson'))
중학교_학군 = gpd.read_file(os.path.join(path,'12.오산시_중학교_학군.geojson'))
횡단보도 = gpd.read_file(os.path.join(path,'17.오산시_횡단보도.geojson'))
신호등 = gpd.read_file(os.path.join(path,'19.오산시_신호등.geojson'))
인도 = gpd.read_file(os.path.join(path,'21.오산시_인도.geojson'))
상세도로망 = gpd.read_file(os.path.join(path,'23.오산시_상세도로망_LV6.geojson'))
도로명주소_건물 = gpd.read_file(os.path.join(path,'27.오산시_도로명주소_건물.geojson'))
건물연면적_격자 = gpd.read_file(os.path.join(path,'28.오산시_건물연면적_격자.geojson'))
법정경계_시군구 = gpd.read_file(os.path.join(path,'31.오산시_법정경계(시군구).geojson'))
행정경계_읍면동 = gpd.read_file(os.path.join(path,'32.오산시_행정경계(읍면동).geojson'))
법정경계_읍면동 = gpd.read_file(os.path.join(path,'33.오산시_법정경계(읍면동).geojson'))
지적도 = gpd.read_file(os.path.join(path,'34.오산시_지적도.geojson'))

### 계속 쓸 기본 틀

In [6]:
data = 어린이교통사고_격자[어린이교통사고_격자.accident_cnt>0].reset_index().copy()
data = data.drop(["index"],axis=1)
data.head(3)

        gid  accident_cnt                                           geometry
0  다사561083             1  MULTIPOLYGON (((127.00549 37.17243, 127.00549 ...
1  다사564096             1  MULTIPOLYGON (((127.00880 37.18416, 127.00879 ...
2  다사566102             1  MULTIPOLYGON (((127.01101 37.18958, 127.01101 ...

### feature : 격자 내부 유동인구 합

In [7]:
유동인구.drop(["STD_YM"],axis=1).groupby(['lon','lat']).mean()
관심시간대 = ["TMST_08","TMST_09","TMST_10","TMST_12","TMST_13","TMST_14","TMST_15","TMST_16","TMST_17","TMST_18"]
전체평균유동인구 = 유동인구.drop(["STD_YM"],axis=1).groupby(['lon','lat']).mean()[관심시간대].mean(axis=1).reset_index()
전체평균유동인구.head(3)

          lon        lat         0
0  126.995142  37.177153  0.546000
1  126.995145  37.176703  0.882000
2  126.995148  37.176252  0.219429

In [8]:
전체평균유동인구.shape

(12402, 3)

In [9]:
전체평균유동인구[전체평균유동인구[0]>1].shape

(6641, 3)

In [19]:
def ppl_inside(geo_obj):
    
    global 전체평균유동인구
    
    ret_cnt = 0
    
    for (lon,lat,cnt) in 전체평균유동인구.iloc:
        current_point = Point(lon,lat)
        if geo_obj.contains(current_point):
            ret_cnt+=cnt
    return ret_cnt

data['격자내 유동인구'] = data['geometry'].apply(ppl_inside)
data.head(3)

,gid,accident_cnt,geometry,격자내 유동인구
0,다사561083,1,"MULTIPOLYGON (((127.00549 37.17243, 127.00549 ...",43.435676
1,다사564096,1,"MULTIPOLYGON (((127.00880 37.18416, 127.00879 ...",9.633417
2,다사566102,1,"MULTIPOLYGON (((127.01101 37.18958, 127.01101 ...",0.215500

### feature : 격자 중심에서 200m 주변 유소년 총인구

In [71]:
data = gpd.read_file(os.path.join(path,'GDF_for_linear_regression.geojson'))
data.head()

,gid,accident_cnt,격자내 유동인구,격자내 유소년 인구,격자내 학원 수,geometry
0,다사561083,1,43.435676,0.0,0,"MULTIPOLYGON (((127.00549 37.17243, 127.00549 ..."
1,다사564096,1,9.633417,0.0,0,"MULTIPOLYGON (((127.00880 37.18416, 127.00879 ..."
2,다사566102,1,0.215500,0.0,0,"MULTIPOLYGON (((127.01101 37.18958, 127.01101 ..."
3,다사583093,1,0.662000,0.0,0,"MULTIPOLYGON (((127.03022 37.18154, 127.03021 ..."
4,다사584072,1,8.104333,0.0,0,"MULTIPOLYGON (((127.03146 37.16262, 127.03145 ..."

In [7]:
거주인구격자_유소년 = 거주인구격자_유소년.fillna(0)
거주인구격자_유소년.head(2)

        gid  val                                           geometry
0  다사551085  0.0  MULTIPOLYGON (((126.99422 37.17418, 126.99421 ...
1  다사551086  0.0  MULTIPOLYGON (((126.99421 37.17508, 126.99420 ...

In [72]:
거주인구격자_유소년.loc[0,"geometry"].centroid.coords[0]

(126.99477586013964, 37.174635450576154)

In [73]:
def ppl_living_inside(geo_obj):
    
    global 거주인구격자_유소년
    
    ret_cnt = 0
    y,x = geo_obj.centroid.coords[0]
    
    for (_,cnt,square) in 거주인구격자_유소년.iloc:
        c_y,c_x = square.centroid.coords[0]
        
        if haversine((x,y),(c_x,c_y),unit="m") <= 200:
            ret_cnt+=cnt
            
    return ret_cnt

data['격자내 유소년 인구'] = data['geometry'].apply(ppl_living_inside)
data.head(3)

,gid,accident_cnt,격자내 유동인구,격자내 유소년 인구,격자내 학원 수,geometry
0,다사561083,1,43.435676,0.0,0,"MULTIPOLYGON (((127.00549 37.17243, 127.00549 ..."
1,다사564096,1,9.633417,0.0,0,"MULTIPOLYGON (((127.00880 37.18416, 127.00879 ..."
2,다사566102,1,0.215500,0.0,0,"MULTIPOLYGON (((127.01101 37.18958, 127.01101 ..."

In [23]:
data.to_file(os.path.join(path,'GDF_for_linear_regression.geojson'), driver='GeoJSON')

In [24]:
data

,gid,accident_cnt,geometry,격자내 유동인구,격자내 유소년 인구
0,다사561083,1,"MULTIPOLYGON (((127.00549 37.17243, 127.00549 ...",43.435676,0.0
1,다사564096,1,"MULTIPOLYGON (((127.00880 37.18416, 127.00879 ...",9.633417,0.0
2,다사566102,1,"MULTIPOLYGON (((127.01101 37.18958, 127.01101 ...",0.215500,0.0
3,다사583093,1,"MULTIPOLYGON (((127.03022 37.18154, 127.03021 ...",0.662000,0.0
4,다사584072,1,"MULTIPOLYGON (((127.03146 37.16262, 127.03145 ...",8.104333,0.0
...,...,...,...,...,...
340,다사633033,1,"MULTIPOLYGON (((127.08684 37.12767, 127.08683 ...",18.696500,0.0
341,다사633049,1,"MULTIPOLYGON (((127.08676 37.14209, 127.08676 ...",74.573667,47.0
342,다사634036,1,"MULTIPOLYGON (((127.08795 37.13038, 127.08794 ...",63.209333,6.0
343,다사635067,1,"MULTIPOLYGON (((127.08892 37.15832, 127.08892 ...",85.970583,0.0
344,다사636036,1,"MULTIPOLYGON (((127.09020 37.13038, 127.09020 ...",47.054500,0.0

### feature : 후보격자 중심에서 300m 내에 있는 학원 (1개 칼럼)

In [26]:
학원_및_교습소_현황["업종구분명"].value_counts()

학교교과교습학원    1590
평생직업교육학원     106
교습소           90
Name: 업종구분명, dtype: int64

In [10]:
drop_idx = 학원_및_교습소_현황[학원_및_교습소_현황["교습과정명"].isnull()].index

학원_및_교습소_현황.drop(drop_idx,inplace=True)

In [36]:
for k in 학원_및_교습소_현황[학원_및_교습소_현황["업종구분명"]=="학교교과교습학원"]["교습과정명"].values:
    print(k)

종합(국,수,사,과,논술)
피아노(체르니40이상)
관현악(바이올린,플룻)
피아노(바이엘)
수학(고등)
영어
피아노(체르니100)
종합(초등)
종합(중등)
영어(고등)
피아노(체르니30)
중등수학2
스쿨수학1,2,3,4,5
한국사1,2,3,4,5
피아노
수학+논술저학년
일본어1,2,3,4,5
체르니100
플룻
종합(국,영,수,사,과)
피아노 단계+1
피아노고급
수학초등4
영어기초반
영어고급반
영어회화특강반
고등영어1
영어똑똑1,2,3,4,5
한자1,2,3,4,5
피아노 단계+2
영어중등심화반
영어(중등)
중등수학
중등영어2
수학v1,2,3,4,5
사회1,2,3,4,5
언어중등
고등수학
영어초등1
수학초등1
독서실1개월
와락수학(P)1,2,3,4,5
수학1,2,3,4,5
와락사회1,2,3,4,5
피아노 중급
피아노중급(하)
바이올린
수학초등 심화반
영어(고등)
수학+전과목종합반
영어초등4
독서(1)1,2,3,4,5
스쿨국어(p)1,2,3,4,5
전과목(초등)
피아노(체르니100)
영어초등3
영역국어1,2,3,4,5
똑똑(P)1,2,3,4,5
써밋중등1,2,3
수학
기타
피아노중급
스쿨국어(2)1,2,3,4,5
와락국어1,2,3,4,5
미술
피아노초급(바이엘)
피아노(체르니30)
수학(초중등)
피아노초급
종합초등1
영어초등2
영어(초중등)
스쿨수학(p)1,2,3,4,5
국어1,2,3,4,5
영어1,2,3,4,5
피아노초급
수학단과반
피아노중급
피아노고급2
중등영어1
와락과학1,2,3,4,5
수학+논술
국어(고등)
첼로
영어(초등)
문법1,2,3,4,5
사회(P)1,2,3,4,5
일본어(P)1,2,3,4,5
우쿨렐레
체르니30
영어리딩,문법특강반
중등종합2
성악(입시)
초등수학2
한자(P)1,2,3,4,5
써밋초등1,2
수학+전과목저학년
피아노초급
플룻
영어중등반
수학중등 기초반
중등수학1
사고력1,2,3,4,5
해피톡(p)1,2,3,4,5
와락영어(P)11,2,3,4,5
언어초등
바이올린
영어기초심화반
피아노고급1
기타
초등수학3
독서실1일
과학1,2,3,4,5
듣기1,2,3,4,5
놀이똑똑1,2,3,4,5
수학똑똑1,2,3,4,5
와락수학1,2,3,4,5
와락영어1,2,3,4,5
피아노고급
종합초등
수학(고등)
영어고급심화반
수학초등 기초반
피아노(체르니40)
종합초등2
중등종합1
독서(2)1,2,3,4,5
한글똑똑1,2,3,4,5
체르니50
수학중등 집중반
전괌고(중등)
해피톡(2)1,2,3,4,5
한자똑똑1,2,3,4,5
중등역사1,2,3,4,5
와락국어(P)1,2,3,4,5
미술(초등)
바이엘
체르니40
피아노초급
피아노 고급
피아노중급(상)
드럼
피아노
바이올린
전과목(초등)
영어중등(중등B)
영어(초등)그린코스
주1일반
플룻
수학(중등A)
수학(고등)
주5일반
영어유치부
수학(고등)
영어(고등)
수학(중등)
영어(초등)블루코스
영어(초등)레드코스
영어(중등문법)
영어(고등)
영어(초등)문법
영어(고등내신)
영어(초등)블랙코스
영어(초등)v-sysyem800
영어(초등)v-sysyem1200
영어(중등내신)
영어(중등)
영어(고등독해)
주3일반
영어초등부
영어(초등)Extension school
영어(초등)옐로우코스
수학(초등)
우쿠렐레
영어(초등)화이트코스
수학초등6(A,B,C,D반)
고등교과(차상위계층,기초수급가정30%감면)영어듣기/과학/사회/국어
중고영어듣기
초등(종합)
피아노체르니30
피아노초급A
피아노중급
중등교과(차상위계층,기초수급가정30%감면)수학/영문법
바이올린
중고영어독해
영어초등4(A,B,C,D반)
중등교과(일반)수학/국어
정보처리자격증
체르니30
플릇
영어(초3~5)
코딩교육
피아노중급반
중등1-2학년
수학초등1(A,B반)
종합초등4(A,B,C,D반)
중등종합
초등1-6학년
nan
중등수학
고등수학
피아노바이엘
영어초등1(A,B반)
수학초등2(A,B반)
종합초등5(A,B,C,D반)
중등교과(일반)영어듣기/과학/사회/국어
중등(종합)
피아노기초
피아노체르니100
피아노초급반
중3학년
중등교과(차상위계층,기초수급가정30%감면)영어듣기/과학/사회/국어
고등교과(다가정자녀20%감면)수학/영문법
초등교과(다자녀가정20%감면)수학/국어
고등교과(차상위계층,기초수급가정30%감면)수학/영문법
중등교과(다자녀가정20%감면)영어듣기/과학/사회/국어
수학(고등)
체르니40
피아노초급B
영어초등2(A,B반)
초등종합
초등교과(일반)사회/과학/영문법/영어회화
피아노고급반
고등교과(다가정자녀20%감면)영어듣기/과학/사회/국어
영어(고등)
영어(초1~2)
초등교과(차상위계층,기초수급가정30%감면)수학/국어
영어(초6~중3)
피아노체르니100
종합초등1(A,B반)
수학초등3(A,B,C반)
종합초등3(A,B,C반)
영어초등6(A,B,C,D반)
드럼
고등교과(일반)영어듣기/과학/사회/국어
중고영어문법
수학초등4(A,B,C,D반)
기타
초등교과(일반)수학/국어
영어초등3(A,B,C반)
초등단과
고등단과
고등1-3학년
피아노체르니40
피아노고급
영어초등5(A,B,C,D반)
초등교과(다자녀가정20%감면)사회/과학/영문법/영어회화
초등교과(차상위계층,기초수급가정30%감면)사회/과학/영문법/영어회화
고등교과(일반)수학/영문법
국어(고등)
종합초등2(A,B반)
수학초등5(A,B,C,D반)
종합초등6(A,B,C,D반)
피아노입시
중등교과(다자녀가정20%감면)수학/영문법
문법특강
논술(중,고)
한국무용
영어기초
수학(중등B)
중등영어+수학A
첼로(고급반)
피아노(바이엘)
피아노(입시반)
영어(화목)
초등영어,논술
스쿨수학/초등
국어창의독서/초,중
영어공부와락/초,중
중등전과목
영어고등부
수학(고등)
중등수학
중국어고등
초등수학
고1수학
수학/초,중,고
수학V/초,중,고
써밋중등수학/중등
국어/초,중
수학(팩토)
중급2
고3수학
첼로(중급반)
진학상담지도(자소서)
초급Ⅲ
고등수학
중등수학준비반
중학영어, 논술
초급Ⅰ
중국어중등
영어 I talk5
영역국어/초,중
사회공부와락/초,중
초등전과목
중등(수학)
고등(수학)
발레중등전공bar work
화상영어2
수학(고등C)
중등수학B
미술유치부,초등저학년
수학(고등)
고등수학준비반
중등수학
고등수학준비반
영어(화목2부)
영어공부와락 단과/초,중
중등수학준비반
중등(영어)
영어(고등)
고등(국어)
발레초등부
수학(중등C)
수학중등
nan
영어초급A
수학(중등A)
nan
다인실1일
초등(국,영,수,사,과)
원격진학상담지도(자율활동)
영어아이레벨/초,중,고
영어고등
수학초등
초등(수,국,사,과)
바이올린(고급반)
nan
개인실1개원
수학(주3회)
수학(고등주3회)
중등논술
수학공부와락/초,중
영어 Y talk
보컬
영어공부와락2/초,중
중등영어B
수학공부와락2/초,중
전과목(중등)
토론특강
초등(국,영,수,사,과)
영어초급B
영어중급A
중등부
바이올린(기초반)
해피톡2/초,중
영어(중급)
영어(매일반)
전과목(초)
피아노 중급1
플룻,바이올린
영어중급
중등영어A
초등영어B
수학(고등A)
스쿨수학2/초등
중등교과포럼논술
입시피아노
수학고등
물리고등
영어초급
수학(초등기초)
수학(고등B)
중등수학A
초등영어+수학
고3영어
영어고급
애니메이션
초급Ⅱ
중급
진학상담지도(봉사)
과학플러스온/초,중
한자/초,중,고
발레중등전공 center work
nan
발레초등전공center work
영어유치부
초등영어A
과학중등
미술초등고학년
고등부
중등수학
다인실1개월
바이올린(중급반)
피아노(체르니)
초등수학
수학(고등주5회)
드럼
바이올린
영어(화목1부)
영어(중등)
피아노
영어 A talk
영어(초급)
해피톡/초,중
발레유치부
영어상급
수학(중등)
중등영어
개인실1일
초등수학
수학초등
고등영어
고등수학
중국어초등
고등이과
피아노
영어(월,수,금)
중등(국,영,수,사,과)
1월이용료(개인실)
사회플러스온/초,중
영어/초,중,고
영어아이그래머/초,중
과학공부와락/초,중
영어중등
영어고급
수학(초등중급)
중등영어+수학B
고등수학
화상영어1
말하기특강
화학고등
유,초등부
1일이용료(개인실)
수학(주2회)
고등문과
영어(고등)
국어창의독서2/초,중
초등(국,수,사,과)
진학상담지도(동아리)
수학(고등주2회)
중등수학
사회역사/초,중
nan
피아노고급
우쿨렐레,기타
수학(초)
영어중등부
수학(초등)
첼로(기초반)
기타(일렉,베이스,어쿠스틱)
고등(국,영,사,과,논술)
진학상담지도(세특,수행)
성악
국어공부와락2/초,중
영어 I talk1
영어 I talk3
수학(초등)
고등영어
영어중급
중등영어+수학C
초등영어
영어초중급B
수학(중등)
1월이용료
건반
영어(고급)
한국사/초,중
영어아이리스닝/초,중
국어공부와락/초,중
사고력수학/초,중
피아노초급
발레초등전공bar work
영어(월수금)
작곡
피아노바이엘(주5일)형제할인
피아노바이엘(주4일)
피아노바이엘(주2일)
방송댄스
피아노(바이엘)
피아노(체르니30)
피아노체르니30(주3일)
피아노체르니40(주5일)형제할인
재즈(심화)
피아노바이엘(주3일)
피아노체르니100(주4일)
피아노체르니30(주2일)
피아노체르니30(주4일)
피아노체르니40(주4일)
피아노(기초)
중등영어
중등수학
피아노체르니100(주3일)
초등영어
피아노체르니40(주3일)
피아노(체르니100)
발레
피아노바이엘(주5일)
피아노체르니100(주2일)
초등수학
피아노(고급)
피아노(중급)
피아노바이엘(주3일)형제할인
피아노체르니30(주5일)
피아노체르니40(주5일)
재즈(심화
피아노체르니100(주5일)
피아노체르니40(주2일)
영어(초등저학년)
수학(초등고학년)
초등보습국수사과
nan
중등수학
피아노
중등영어
영어(중등)
종합(초등)
드럼, 기타
초등영어
전과목(초등)
수학(고등)
영어B(고등1)
바이올린
수학(중등)
수학(초등)
수학A(고등2)
영어(유아)
영어(중등)
수학(중등)
영어(초등)
영어(초등)
영어B(고등2)
영어(초등고학년)
수학B(고등2)
수학(초등저학년)
영어(중등)
수학B(고등1)
영어A(고등1)
국어(초등)
수학A(고등1)
영어A(고등2)
피아노고급
피아노(고급)
피아노(고급)
피아노(초급)
영어초등
수학초등
영어(대학,일반)
영어(중고등)
바이올린
영어A
영어C
nan
미술A
영어D
수학유아
피아노중급
피아노중급
미술B
피아노(중급)
수학중등
영어(유치)
종합중등
피아노초급
영어중등
종합초등
피아노(초급)
수학중등
피아노초급
수학(고등)
수학초등
영어(초등)
영어B
피아노(중급)
수학(초등)
수학(중등)
피아노고급
우쿠렐레
영어E
고급(작품,체르니50)
고급체르니40
바이올린
플룻
기타
초급바이엘
우쿨렐레
입시
nan
중급체르니100
중급체르니30
영어(초등)
영어(고등)
피아노(바이엘)
수학(고등)
플룻
피아노
피아노(체르니40)
피아노(체르니100)
영어(중등)
피아노(체르니30)
피아노(곡)
수학(초등)
수학(중등)
플룻
영어(초중)
중등국어
수학초5~6
영어E
보컬
수학(중등)
피아노유치부,초급
수학고등2
영어수학/중등
다인실 1일
영어D
중등과학
영어(초등)
피아노중급(상)
체르니40
영어초등
영어수학/초등
수학초1~2
수학(초등4-6)
수학(고등)
1인실
기타
피아노중급(하)
영어중1~3
과학초3~6
수학(초등)
초등수학
영어A
바이올린초급
키즈댄스
영어고1
초등영어
중등수학
과학(초등)
초등영어(5,6)
수학중1~3
바이올린
1인실 1일
영어(중등)
중등영어
영어고3
수학초등5
피아노(체르니30)
다이어트댄스
초등수학(1,2)
기타, 베이스, 피아노, 드럼
수학초등4
바이올린중급
체르니30
국어초1~2
미술유치부5일
고등영어
수학(고등)
수학(중등)
드럼
수학초등6
영어(중등)
피아노(바이엘)
방송댄스
초등수학(3,4)
중등영어,수학
초등영어(1-4)
피아노초급
수학(고등)
수학(초등3,4)
영어B
피아노
수학중등부
수학고등1
고등수학
영어C
중등
영어(초등)
영어(고등)
다인실 1개월
피아노성인
기초
수학초3~4
피아노(체르니40)
실용댄스
미술유치부3일
수학(초등5,6)
영어초1~3
체르니100
피아노(체르니50)
수학(초중)
고등수학
영어고2
피아노
피아노(체르니100)
수학초등
보컬, 작곡
수학(초등1~3)
피아노고급
초등수학(5,6)
고등영어,수학
수학고등3
독서실비
수학(중등)
미술초등부5일
미술초등부3일
중등사회
초등
플룻
초등종합1
초등과학실험
중등논술
영어초중등상급
영어초등중급
중급(주1회)
피아노(고급)
영어(고등)
피아노 초급
미술(고급B)
바이올린
영어(중등)
초등국어
고등수학
오카리나, 단소, 리코더
수학(초등)
중등영어
수학초등
중등영어
초등수학
피아노고급(입시)
종합초등
미술(고급A)
중급(주2회)
기초(주1회)
고급(주1회)
영어초등기초
수학(중등)
드럼
초등종합2
고등영어
수학(고등)
중등수학심화
중등국,사,과
영어(초등)
초등수학
피아노 중급
플릇, 바이올린, 기타, 성악
피아노초급
우쿨렐레
중등수학
중등수학
피아노중급
고등영어
피아노(중급)
고등수학
초등논술
피아노 고급
초등수학심화
초등영어
고급(주2회)
피아노(초급)
미술취미부
초급
일반토익
영어중등
그래픽,기능사
피아노(중급상)
피아노(심화A)
성인발레/체형교정
피아노중급
영어초등A
종합고등
영역국어/초,중
중등교과포럼논술
고급
수학(고등)
영어(중등)
해피톡/초,중
사회공부와락/초,중
수학(고등)
초등1~2학년
오르프
전과목초등
독서스피치(유치)
초등영어
기타
체르니30
영어/초등
초급
초급중급고급A
심화반B
피아노초급
6강좌
피아노(심화B)
중등1
수학/초,중,고
OA일반
기타, 드럼, 보컬, 자곡
수학(초중고)
중급
피아노(작품B)
피아노(입시B)
중등수학
기타(입문)
천연향초
가죽공예
영어(고등)
영어수학(초등심화)
단과고등(사회,과학)
영어초등B
영어초등D
과학플러스온/초,중
중등논술
수학공부와락2/초,중
수학중등
수학(고등)
언어(고등)
영어중1
종합초등
수학초등
수학/중등
냅킨아트
DIY목공
음악초급
보습초등
피아노(작품A)
초급중급B
피아노중급
초등한자
초등교과영어
미술초등
영어초등C
영어수학(고등실력)
단과고등(국,영,수)
영어,수학,과학
스쿨수학/초등
영어공부와락/초,중
수학(초등)
수학(중등)
일반회화영어
수학(초등)
영어중등
째즈피아노
고등수학
과학(고등)
영어고등
수학고등
영어중3
종합중3
고급
음암고급
다인실
중급(하)피아노
과학공부와락/초,중
국어/초,중
영어/초,중,고
수학(중등)
초등수학,국어,사회,과학(3~6학년)
수학/초등
고등3
영어(고등)
중급
입시및대회반
피아노(고급)
중급
피아노고급
한지공예
중등3
고등2
일권
스쿨수학2/초등
일반회화일어
고등1종합
국어고등
드럼
중학교종합
중등 국/수/사/과
중등창의력수학
초등한글마스터
수학(초등)
초등수학
중등수학
피아노초급
초급
영어초등
영어/중등
피아노(초급)
클레이아트
미술초급
피아노(A)
기타(기초)
월권
영어수학(초등기초)
초등 국/수/사/과
사회플러스온/초,중
고등2종합
중급(하)
영어수학(중등기본)
영어수학(고등심화)
영어
수학(고등)
한자/초,중,고
해피톡2/초,중
수학공부와락/초,중
고등영어
초등창의력수학
고급
독서
초급
고급
중급(상)
피아노기초
피아노고급
한국사/초,중
국어창의독서/초,중
영어아이리스닝/초,중
영어공부와락 단과/초,중
중등수학1~3학년
고1종합
수학중등
플릇
중등영어
영어/원어민
워드,컴활,ITQ,전산회계
그래픽(일반)
중급
피아노(바이엘)
피아노(체르니30)
피아노(입시A)
기타(중급)
피아노성인
수학(중등)
중등영어
고3종합
영어수학(고등기본)
단과중등(영,수)
1일
사고력수학/초,중
국어창의독서2/초,중
영어아이그래머/초,중
영어아이레벨/초,중,고
고등3종합
피아노
영어중2
종합중1
피아노중급
영어/Writing
산업기사
바이엘
체르니40
캘리그라피
피아노(유치부초급)
1인실
성인
5/7강좌
중등 국/영/수/사/과
고교단과
영어수학(중등실력)
초등수마스터
초등 국/수/바/슬/즐
국영수사과(초중단과)
국영수사과(초등단과)
써밋중등수학/중등
1개월
영어수학(중등심화)
영어공부와락2/초,중
국영수사과(고등단과)
사회역사/초,중
수학(고등)
중등영어
초등3-6학년
천연비누,화장품
피아노(고급)
유치부
중급
피아노(체르니100)
입시반(1~7강좌)
수학(중등)
중등2
고등1
초등사고력수학
국어공부와락/초,중
초등영어수학
초등영어
중등종합
입시미술
종합중2
국수사과초등
종이접기
국,수,사,과
영어파닉스체험
리본아트
음악중급
국/과/사/역사(초중등)
미술유아유치부
영어유치부
국어공부와락2/초,중
드럼
고등영어
영어초등
영어고등
피아노고급
드럼
독서스피치(초등)
피아노(중급)
체르니100
수학고등
고급
바이올린, 챌로, 플룻
유치부
영어
심화반A
고2종합
영어수학(초등기본)
과학(고등)
초등계산력수학
수학V/초,중,고
피아노 초급
영어(초등B)
미술1,영어1,피아노1
미술
초등종일 바이올린/영어/피아노수학논술 각1시간
피아노 중급
영어1
바이올린
첼로
영어초등
영어2
피아노 고급
 영어유아
종합2 영어3시간/피아노,바이올린/수학1시간
종합1 영어3시간/피아노1시간/한글1시간/바이올린1시간
영어(초등A)
영어(초등C)
nan
수학(고등)
모의고사보충특강
영어수학-재원중등심화
중등영어
종합고등(국어, 영어,사회, 과학)
중등수학A수학
중등특강B종합
중고생연기/보컬
고등특강A종합
수학초등
수학고등
영수고등
그래픽일반
특강2일(중등)
초등미술1
초중고등영어특강
스파르타보충
기타(입시,전문)
미술(초등3회)
중등수학B수학
뉴스타연기
고등종합
고등영어
영어고등
특강2일(중등)
수학(고등)
워드,컴활
MOS(고,일반)
연합가(고등)
드럼
초등수학기본
중등역사1,2,3,4,5
스쿨국어(2)1,2,3,4,5
한글똑똑1,2,3,4,5
써밋초등1,2
영어초등A
영어고등
고등1(종합)
바이엘
고급/입시 피아노
작곡(입시)
국어(원격)
바이올린
종합(초등)
과학1,2,3,4,5
해피톡(2)1,2,3,4,5
와락국어1,2,3,4,5
영어수학-재원중등심화
30일반
체르니30
드럼(취미)
영어level4
영어고급A
비재원생
초등특강E종합
중등수학C수학
1개월반
영어(초등중급)
영어(중등)
영어(중등)
중등취미
주2회반
영어(초)
단과(고등)
일반실
산업기사(일반)
연합C(고등)
특강2일(초)
고등
고등부
스쿨국어(p)1,2,3,4,5
중등수학심화
초등수학(필즈,아벨)
영어1,2,3,4,5
놀이똑똑1,2,3,4,5
위니매쓰
수학(중등)
중등수학(필즈)
초등수학
정보처리기사(일반)
연합2(고등)
영어(중등)
종합/중등
영어초등B
초등
중등(국어)
한자1,2,3,4,5
와락국어(P)1,2,3,4,5
국영수사과초등
초등영어고급
초등5종합
수학고등
OA일반
중2영어
수학(초등)
중급우크렐레
작곡
초등특강B영어수학
중등B국어영어
영어(초등)
모의고사집중특강
수학고등
피아노(입시심화)
기타(입시심화)
미술(고등1학년)
독서(1)1,2,3,4,5
영어중등
원어민영어초중
과학
ITQ-워드,컴활(일반)
초등영어2일
연합3(고등)
단과(중등)
중학생
영어(중)
종합A(고등)
중등영어심화
고등영어심화
국영수사과초등456
초등영어A
다독
피아노입시
기타
초등영어3일
수학중등
국어고등
화성학
그래픽초중고
중3종합(수학)
한자
피아노(취미기본)
초등A영어수학
수학(초등부)
수학,영어(중등부)
수학,영어(고등부)
일이용권(1인실)
수학(중)
수학초등
중등수학(영어)
ITQ(초중고)
전산회계(중.고)
전과목초등
해피톡(p)1,2,3,4,5
일본어(P)1,2,3,4,5
와락수학1,2,3,4,5
와락과학1,2,3,4,5
써밋중등1,2,3
수학(초등)
수학초등
수학초등456
국영수사과중등
영어(원격)
영어초등
초등수학2일(가우스)
우쿨렐레
보컬(입시,전문,오디션)
영어중급
중등A국어영어
국영수사과(중등)
수학(초등)
피아노중급
피아노(어린이고급)
미술(초등2회)
미술(고등2학년)
초등단과(국,영,수,과)
영어(초등기초)
영어(초등고급)
초둥수학2일(가우스)
개인실
수학(초)
월이용권
단과E(고등)
중등C국어영어
초등수학(영어)
종합C(고등)
연합B(고등)
연합다(고등)
한자(P)1,2,3,4,5
문법1,2,3,4,5
똑똑(P)1,2,3,4,5
와락사회1,2,3,4,5
초등연합
영어초등
수학중등
수학초등
스쿨수학1,2,3,4,5
고등부(단과)
고등(국어)
수학고등심화
초급피아노
피아노/초급
중1종합(수학)
중2특강(수학)
피아노바이엘
수학(고등)
영어(중등)
초등영어
영어level6
피아노/중
2개월
고3,재수연기/보컬/무용
중등특강D국어영어수학
고등수학
영어(Whiting)
영어초등
기타
1인석(특)
종합B(고등)
연합A(고등)
피아노(어린이초급)
1일
1일
고등수학(영어)
영어(초등)
중급
초등피아노
수학v1,2,3,4,5
종합(초등)
종합B(중등)
수학중등
그래픽,웹디자인-일반
중등영어3일
연합라(고등)
연합4(고등)
영어중등
고등영어기본
듣기1,2,3,4,5
수학똑똑1,2,3,4,5
한자똑똑1,2,3,4,5
한국사1,2,3,4,5
초등수학
영어중등
국영수사과중등
플룻
성인 1일
국수사과-초등
중등연합A
영어level3
영어level5
초등수학
사회고등
피아노(취미심화)
미술(중등3회)
영어(예비중등,6학년)
중등수학2일(가우스)
중등수학(필즈)
피아노고급
재원생종합반
중등수학(영어)
초등특강D종합
1개월
영어level1
 영어(고등)
종합중등(국어,영어,수학,사회)
수학(중등)
중국어(초급)
기타(취미기본)
드럼(입시,전문)
보컬(취미심화_)
고등국어
주3회반
초급
일이용권
Ap매쓰
피아노중급
종합/고등
영어초등
고등수학(영어)
종합E(고등)
연합1(고등)
중등수학2일(가우스)
영어심화
고등부(단과+국어)
중등
체르니30
초급우크렐레
드럼
초등수학(필즈,아벨)
영어 Grammar
보컬(입시심화_
국영수사과고등
학생다인실
중3영어
유치부(단과)
초등6종합
중등수학
영어중등
영어성인
독서(2)1,2,3,4,5
피아노기초
중등영어3일
수학중등
중1영어
영어(중등)
초중고등영어보충
중국어(중급)
피아노(입시,전문)
보컬(취미기본)
국영수사과(고등)
고등영어
초등수학(영어)
중등단과(국,영,수,과)
주4회반
중등연합B
종합D(고등)
특강2일(중등)
체르니100
국어1,2,3,4,5
체르니100
초등수학심화
일본어1,2,3,4,5
체르니40
종합/초등
중1특강(수학)
과학(원격)
1일반
수학초등123
영어초급
영어고등
플릇
중1영어(특강)
중3영어(특강)
유치부(종합)
유치부(단과4)
성인 자유석
초등영어2일
중등영어2일
영어 Intensive-24
바이올린
1개월
영어고급B
피아노/초
스파르타특강
영어(고등)
국어(중등)
중국어(고급)
피아노(어린이중급)
중등특강C종합
중고생연기/무용
고등특강B종합
1일반
영어(고등)
초등미술
국어 수학,과학,사회
유치미술1
전과목(중)
종합(고등)
단과D(고등)
특강1일(고등)
개인석
그래픽.웹디자인(초중고)
연합D(고등)
단과A(고등)
사고력1,2,3,4,5
수학중등
종합A(중등)
특강3일(초)
1인석
중등영어2일
고등수학심화
국어중등부
영어(초등)
영어똑똑1,2,3,4,5
와락수학(P)1,2,3,4,5
와락영어(P)11,2,3,4,5
영어중등
초등연합
영어중등
영어 Bridge-36
초등미술2
학생1일
수학중등
영어초급A
재원생단과반
1개월
전과목
CAD(중,고,일반)
특강3일(중등)
1인석특
아동미술
특강2일(고등)
단과/초등
수학중등
고등부(종합)
국어초등부
와락영어1,2,3,4,5
월이용권(1인실)
nan
연합(중등)
단과(초등)
정보처리,기기(초중고)
초등영어3일
연합E(고등)
연합나(고등)
단과B(고등)
단과C(고등)
영어(고등)
고등수학
단과/고등
영역국어1,2,3,4,5
고등수학기본
중등수학3일(가우스)
사회1,2,3,4,5
기프티드
수학고등
수학(원격)
 중급기타
영어 Bridge-24
영어 intensive-36
미디
수학(고등부)
1일
영어(중등)
중등수학
입시미술
중등D국어영어
중등특강A종합
뉴스타연기/보컬/무용
고등단과(국,영,수,과)
주5회반
고급
중등수학기본
피아노/고
고등수학
영어(고등)
체르니40
영어
초등부(전과목)
특강3일(고등)
단과/중등
피아노바이엘
체르니30
스쿨수학(p)1,2,3,4,5
영어-파닉스체험
영어중등
국영수사과초등123
영어고등
초등수학3일(가우스)
New시매쓰
영어초등
초급기타
중등수학3일(가우스)
중등연합B
성인 고정석
피아노/중급
중2영어(특강)
영어(초등)
국어(고등)
기타(취미기초)
기타(취미심화)
영어level2
초등특강C종합
미술(중등2회)
수학1,2,3,4,5
중등수학
영어고등
영어초등
영어초등저
수학고등
중등부(전과목)
고등부(종합+국어)
사회(P)1,2,3,4,5
중등연합A
영어중등
OA초중고
중2종합(수학)
중3특강(수학)
학생1인실
중급피아노
초등수학3일(가우스)
유치미술2
수학(중등부)
영어(중등부)
3개월
미술가베(주1회)
피아노(체르니100)
드럼
피아노(기초)
피아노(체르니30)
초등
플룻
초등언어
피아노(체르니40)
미술가베(주3회)
초등수학
독서실
영어
사회
기타
피아노
영어(초등)
국어초등
국어
과학
플룻
우쿨렐레
영어(고등)
중국어(중고등)
수학(고등)
수학(중등)
피아노
수학초등
수학
영어(중등)
사회(중등)
과학초등
피아노고급
사회(초등)
사회초등
피아노중급
수학(초등)
영어초등
미술
체르니50 작품반
미술
피아노(중급)
바이올린
피아노(중급주2회)
종합초등
영어 중급
일이용권
영어
피아노중급
피아노(초급주3회)
피아노(중급주3회)
고등수학
체르니40
국수사과초등
수학초등
수학고등
피아노고급반
피아노
논술B
바이엘 초급
전과목 초등
피아노(입시)
피아노초급반
논술A
수학 초등
종합중등
피아노
피아노고급
초등수학A
피아노(고급)
영어중등
월이용권
체르니 100
영수중3
중등수학B
초등수학B
영어초등
영수중등1,2
피아노(초급)
종합초등
영어 중등
수학 중등
중등수학A
피아노(고급주2회)
수학중등
영어 초급
영어 고급
피아노중급반
국수사과
피아노(고급주3회)
피아노초급
체르니30

In [11]:
drop_list = ["중등","고등","대학","일반","성인","입시"]

def drop_check(name):
    if any([True for element in drop_list if element in name]):
        return True
    return False

drop_idx = 학원_및_교습소_현황['교습과정명'].map(drop_check)

학원_및_교습소_현황 = 학원_및_교습소_현황[drop_idx!=True].copy()

In [12]:
관심_학원_및_교습소_현황 = 학원_및_교습소_현황[학원_및_교습소_현황["업종구분명"]=="학교교과교습학원"].copy()
관심_학원_및_교습소_현황.head(2)

      업종구분명           교습과정명     시설위치_경도    시설위치_위도
3  학교교과교습학원  종합(국,수,사,과,논술)  127.048919  37.146279
4  학교교과교습학원    피아노(체르니40이상)  127.048919  37.146279

In [74]:
def hakwon_inside(geo_obj):
    
    global 관심_학원_및_교습소_현황
    
    ret_cnt = 0
    y,x = geo_obj.centroid.coords[0]
    
    for (_1,_2,c_y,c_x) in 관심_학원_및_교습소_현황.iloc:
        if haversine((x,y),(c_x,c_y),unit="m") <= 300:
            ret_cnt+=1
    
    return ret_cnt

data['격자내 학원 수'] = data['geometry'].apply(hakwon_inside)
data.head(3)

,gid,accident_cnt,격자내 유동인구,격자내 유소년 인구,격자내 학원 수,geometry
0,다사561083,1,43.435676,0.0,0,"MULTIPOLYGON (((127.00549 37.17243, 127.00549 ..."
1,다사564096,1,9.633417,0.0,0,"MULTIPOLYGON (((127.00880 37.18416, 127.00879 ..."
2,다사566102,1,0.215500,0.0,0,"MULTIPOLYGON (((127.01101 37.18958, 127.01101 ..."

In [81]:
data.to_file(os.path.join(path,'data.geojson'), driver='GeoJSON')

In [16]:
data = gpd.read_file(os.path.join(path,'data.geojson'))
data.head()

,gid,accident_cnt,격자내 유동인구,격자내 유소년 인구,격자내 학원 수,격자내 유소년 인구(100m),격자내 학원 수(100m),geometry
0,다사561083,1,43.435676,0.0,0,0.0,0,"MULTIPOLYGON (((127.00549 37.17243, 127.00549 ..."
1,다사564096,1,9.633417,0.0,0,0.0,0,"MULTIPOLYGON (((127.00880 37.18416, 127.00879 ..."
2,다사566102,1,0.215500,0.0,0,0.0,0,"MULTIPOLYGON (((127.01101 37.18958, 127.01101 ..."
3,다사583093,1,0.662000,0.0,0,0.0,0,"MULTIPOLYGON (((127.03022 37.18154, 127.03021 ..."
4,다사584072,1,8.104333,0.0,0,0.0,0,"MULTIPOLYGON (((127.03146 37.16262, 127.03145 ..."

# 추가 주문 (100m)

In [17]:
def ppl_living_inside_100(geo_obj):
    
    global 거주인구격자_유소년
    
    ret_cnt = 0
    y,x = geo_obj.centroid.coords[0]
    
    for (_,cnt,square) in 거주인구격자_유소년.iloc:
        c_y,c_x = square.centroid.coords[0]
        
        if haversine((x,y),(c_x,c_y),unit="m") <= 100:
            ret_cnt+=cnt
            
    return ret_cnt

data['격자내 유소년 인구(100m)'] = data['geometry'].apply(ppl_living_inside_100)
data.head(3)

,gid,accident_cnt,격자내 유동인구,격자내 유소년 인구,격자내 학원 수,격자내 유소년 인구(100m),격자내 학원 수(100m),geometry
0,다사561083,1,43.435676,0.0,0,0.0,0,"MULTIPOLYGON (((127.00549 37.17243, 127.00549 ..."
1,다사564096,1,9.633417,0.0,0,0.0,0,"MULTIPOLYGON (((127.00880 37.18416, 127.00879 ..."
2,다사566102,1,0.215500,0.0,0,0.0,0,"MULTIPOLYGON (((127.01101 37.18958, 127.01101 ..."

In [18]:
def hakwon_inside_100(geo_obj):
    
    global 관심_학원_및_교습소_현황
    
    ret_cnt = 0
    y,x = geo_obj.centroid.coords[0]
    
    for (_1,_2,c_y,c_x) in 관심_학원_및_교습소_현황.iloc:
        if haversine((x,y),(c_x,c_y),unit="m") <= 100:
            ret_cnt+=1
    
    return ret_cnt

data['격자내 학원 수(100m)'] = data['geometry'].apply(hakwon_inside_100)
data.head(3)

,gid,accident_cnt,격자내 유동인구,격자내 유소년 인구,격자내 학원 수,격자내 유소년 인구(100m),격자내 학원 수(100m),geometry
0,다사561083,1,43.435676,0.0,0,0.0,0,"MULTIPOLYGON (((127.00549 37.17243, 127.00549 ..."
1,다사564096,1,9.633417,0.0,0,0.0,0,"MULTIPOLYGON (((127.00880 37.18416, 127.00879 ..."
2,다사566102,1,0.215500,0.0,0,0.0,0,"MULTIPOLYGON (((127.01101 37.18958, 127.01101 ..."

In [19]:
data.to_file(os.path.join(path,'data.geojson'), driver='GeoJSON')

In [62]:
total["grid_유소년인구_100"] = data["격자내 유소년 인구(100m)"].copy()
total["grid_학원수_100"] = data["격자내 학원 수(100m)"].copy()
total.head(1)

,gid,accident_cnt,어린이집_count,유치원_count,초등학교_count,방지턱_count,불법주정차_cam_count,정류장_count_100,정류장_count_300,grid_유동인구,grid_유소년인구,grid_학원수,geometry,grid_유소년인구_100,grid_학원수_100
0,다사561083,1,0,0,0,0,0,2,2,43.435676,0.0,0,"MULTIPOLYGON (((127.00549 37.17243, 127.00549 ...",0.0,0

In [82]:
total = total.rename(columns={"grid_유동인구":"유동인구_sum",
                     "grid_유소년인구":"유소년인구_count_200",
                      "grid_학원수":"학원수_count_300",
                     "grid_유소년인구_100":"유소년인구_count_100",
                     "grid_학원수_100":"학원수_count_100"})

total.head(1)

,gid,accident_cnt,어린이집_count,유치원_count,초등학교_count,방지턱_count,불법주정차_cam_count,정류장_count_100,정류장_count_300,유동인구_sum,유소년인구_count_200,학원수_count_300,geometry,유소년인구_count_100,학원수_count_100
0,다사561083,1,0,0,0,0,0,2,2,43.435676,0.0,0,"MULTIPOLYGON (((127.00549 37.17243, 127.00549 ...",0.0,0

In [ ]:
total.to_file(os.path.join(path,'total.geojson'), driver='GeoJSON')

# 칼럼 추가 무조건

In [84]:
total = gpd.read_file(os.path.join(path,'total.geojson'))
total.head(1)

,gid,accident_cnt,어린이집_count,유치원_count,초등학교_count,방지턱_count,불법주정차_cam_count,정류장_count_100,정류장_count_300,유동인구_sum,유소년인구_count_200,학원수_count_300,유소년인구_count_100,학원수_count_100,geometry
0,다사561083,1,0,0,0,0,0,2,2,43.435676,0.0,0,0.0,0,"MULTIPOLYGON (((127.00549 37.17243, 127.00549 ..."

### 1. 동 (원핫)

In [95]:
def dong_assigned(geo_obj):
    
    global 법정경계_읍면동
    
    point = geo_obj.centroid
    
    for line in 법정경계_읍면동.iloc:
        dong = line.geometry
        if dong.contains(point):
            return line.EMD_KOR_NM
    return np.nan

동_구분=pd.get_dummies(total["geometry"].map(dong_assigned),drop_first=True)
total = total.join(동_구분)
total.head(1)

,gid,accident_cnt,어린이집_count,유치원_count,초등학교_count,방지턱_count,불법주정차_cam_count,정류장_count_100,정류장_count_300,유동인구_sum,...,수청동,양산동,오산동,외삼미동,원동,은계동,지곶동,청학동,청호동,탑동
0,다사561083,1,0,0,0,0,0,2,2,43.435676,...,0,0,0,0,0,0,0,0,0,0

### 2. 사고격자 주변 주정차 단속 건수 (300m)

In [119]:
def joojeong(geo_obj):
    
    global 주정차단속
    
    cnt=0
    for line in 주정차단속.iloc:
        y,x = line[-3],line[-2]

        if haversine((x,y),(geo_obj.centroid.coords[0][::-1]),unit="m")<=300:
            cnt+=1
    return cnt

total["주정차_count_300"] = total["geometry"].map(joojeong)
total.head(1)

,gid,accident_cnt,유치원_count_300,유치원_count_300,초등학교_count_300,방지턱_count_300,불법주정차_cam_count_300,정류장_count_100,정류장_count_300,유동인구_sum,...,오산원당초통학구역,오산원일초통학구역,오산초가수초공동통학구역,오산초통학구역,운산초통학구역,운암초통학구역,원동초통학구역,필봉초통학구역,화성초통학구역,주정차_count_300
0,다사561083,1,0,0,0,0,0,2,2,43.435676,...,0,0,0,0,0,0,0,0,0,0

### 3. 사고격자 주변 차량 등록 수 (200m)

In [105]:
def car_registered(geo_obj):
    
    global 차량등록현황_격자
    
    y,x = geo_obj.centroid.coords[0]
    cnt=0
    for line in 차량등록현황_격자[차량등록현황_격자.car_cnt>0].iloc:
        _,val,obj_ = line

        if haversine((x,y),(obj_.centroid.coords[0][::-1]),unit="m")<=200:
            cnt+=val
    return cnt

total["차량등록_count_200"] = total["geometry"].map(car_registered)
total.head(1)

,gid,accident_cnt,어린이집_count,유치원_count,초등학교_count,방지턱_count,불법주정차_cam_count,정류장_count_100,정류장_count_300,유동인구_sum,...,양산동,오산동,외삼미동,원동,은계동,지곶동,청학동,청호동,탑동,차량등록_count_200
0,다사561083,1,0,0,0,0,0,2,2,43.435676,...,0,0,0,0,0,0,0,0,0,29

### 4. 사고격자 주변 신호등 수 (격자 내부)

In [109]:
def traffic_light(geo_obj):
    
    global 신호등

    cnt = 0
    for line in 신호등.iloc:
        _,obj = line
        if geo_obj.contains(obj):
            cnt+=1
    return cnt

total["신호등_count_100"] = total["geometry"].map(traffic_light)
total.head(1)

,gid,accident_cnt,어린이집_count,유치원_count,초등학교_count,방지턱_count,불법주정차_cam_count,정류장_count_100,정류장_count_300,유동인구_sum,...,오산동,외삼미동,원동,은계동,지곶동,청학동,청호동,탑동,차량등록_count_200,신호등_count_100
0,다사561083,1,0,0,0,0,0,2,2,43.435676,...,0,0,0,0,0,0,0,0,29,0

### 5. 사고격자 주변 횡단보도 수 (격자내부)

In [111]:
def cross_walk(geo_obj):
    
    global 횡단보도

    cnt = 0
    for line in 횡단보도.iloc:
        _,obj = line
        if geo_obj.contains(obj):
            cnt+=1
    return cnt

total["횡단보도_count_100"] = total["geometry"].map(cross_walk)
total.head(1)

,gid,accident_cnt,어린이집_count,유치원_count,초등학교_count,방지턱_count,불법주정차_cam_count,정류장_count_100,정류장_count_300,유동인구_sum,...,외삼미동,원동,은계동,지곶동,청학동,청호동,탑동,차량등록_count_200,신호등_count_100,횡단보도_count_100
0,다사561083,1,0,0,0,0,0,2,2,43.435676,...,0,0,0,0,0,0,0,29,0,0

### 6. 사고격자가 속한 초등학교 학군? (원핫)

In [114]:
def tonghakgu(geo_obj):
    
    global 초등학교_통학구
    
    point = geo_obj.centroid
    
    for line in 초등학교_통학구.iloc:
        dong = line.geometry
        if dong.contains(point):
            return line["학구명"]
    return np.nan

학구_구분=pd.get_dummies(total["geometry"].map(tonghakgu),drop_first=True)
total = total.join(학구_구분)
total.head(1)

,gid,accident_cnt,어린이집_count,유치원_count,초등학교_count,방지턱_count,불법주정차_cam_count,정류장_count_100,정류장_count_300,유동인구_sum,...,오산대원초통학구역,오산원당초통학구역,오산원일초통학구역,오산초가수초공동통학구역,오산초통학구역,운산초통학구역,운암초통학구역,원동초통학구역,필봉초통학구역,화성초통학구역
0,다사561083,1,0,0,0,0,0,2,2,43.435676,...,0,0,0,0,0,0,0,0,0,0

In [115]:
total.to_file(os.path.join(path,'total.geojson'), driver='GeoJSON')

### 7. 사고 격자 내 유소년 말고 다른 인구?

In [124]:
def total_living_inside_100(geo_obj):
    
    global 거주인구격자_총인구
    
    ret_cnt = 0
    y,x = geo_obj.centroid.coords[0]
    
    for (_,cnt,square) in 거주인구격자_총인구[거주인구격자_총인구.val>0].iloc:
        c_y,c_x = square.centroid.coords[0]
        
        if haversine((x,y),(c_x,c_y),unit="m") <= 100:
            ret_cnt+=cnt
            
    return ret_cnt

total['총인구_count_100'] = total['geometry'].apply(total_living_inside_100)
total.head(1)

,gid,accident_cnt,유치원_count_300,유치원_count_300,초등학교_count_300,방지턱_count_300,불법주정차_cam_count_300,정류장_count_100,정류장_count_300,유동인구_sum,...,오산원일초통학구역,오산초가수초공동통학구역,오산초통학구역,운산초통학구역,운암초통학구역,원동초통학구역,필봉초통학구역,화성초통학구역,주정차_count_300,총인구_count_100
0,다사561083,1,0,0,0,0,0,2,2,43.435676,...,0,0,0,0,0,0,0,0,0,0.0

In [127]:
def doable_living_inside_100(geo_obj):
    
    global 거주인구격자_생산가능
    
    ret_cnt = 0
    y,x = geo_obj.centroid.coords[0]
    
    for (_,cnt,square) in 거주인구격자_생산가능[거주인구격자_생산가능.val>0].iloc:
        c_y,c_x = square.centroid.coords[0]
        
        if haversine((x,y),(c_x,c_y),unit="m") <= 100:
            ret_cnt+=cnt
            
    return ret_cnt

def old_living_inside_100(geo_obj):
    
    global 거주인구격자_고령
    
    ret_cnt = 0
    y,x = geo_obj.centroid.coords[0]
    
    for (_,cnt,square) in 거주인구격자_고령[거주인구격자_고령.val>0].iloc:
        c_y,c_x = square.centroid.coords[0]
        
        if haversine((x,y),(c_x,c_y),unit="m") <= 100:
            ret_cnt+=cnt
            
    return ret_cnt


total['생산가능인구_count_100'] = total['geometry'].apply(doable_living_inside_100)
total['고령가능인구_count_100'] = total['geometry'].apply(old_living_inside_100)
total.head(1)

,gid,accident_cnt,유치원_count_300,유치원_count_300,초등학교_count_300,방지턱_count_300,불법주정차_cam_count_300,정류장_count_100,정류장_count_300,유동인구_sum,...,오산초통학구역,운산초통학구역,운암초통학구역,원동초통학구역,필봉초통학구역,화성초통학구역,주정차_count_300,총인구_count_100,생산가능인구_count_100,고령가능인구_count_100
0,다사561083,1,0,0,0,0,0,2,2,43.435676,...,0,0,0,0,0,0,0,0.0,0.0,0.0

In [120]:
total.columns

Index(['gid', 'accident_cnt', '유치원_count_300', '유치원_count_300',
       '초등학교_count_300', '방지턱_count_300', '불법주정차_cam_count_300',
       '정류장_count_100', '정류장_count_300', '유동인구_sum', '유소년인구_count_200',
       '학원수_count_300', '유소년인구_count_100', '학원수_count_100', 'geometry', '가장동',
       '갈곶동', '고현동', '궐동', '금암동', '내삼미동', '누읍동', '벌음동', '부산동', '서동', '서랑동',
       '세교동', '수청동', '양산동', '오산동', '외삼미동', '원동', '은계동', '지곶동', '청학동', '청호동',
       '탑동', '차량등록_count_200', '신호등_sum', '횡단보도_sum', '광성초양산초병점초공동통학구역',
       '광성초통학구역', '금암초통학구역', '대호초성산초공동통학구역', '대호초통학구역', '매홀초삼미분교수청초필봉초공동통학구역',
       '매홀초삼미분교장통학구역', '매홀초통학구역', '문시초통학구역', '성산초통학구역', '성호초운암초공동통학구역',
       '성호초통학구역', '세미초통학구역', '수청초통학구역', '양산초통학구역', '오산고현초오산원당초공동통학구역',
       '오산고현초통학구역', '오산대원초원동초공동통학구역', '오산대원초통학구역', '오산원당초통학구역', '오산원일초통학구역',
       '오산초가수초공동통학구역', '오산초통학구역', '운산초통학구역', '운암초통학구역', '원동초통학구역', '필봉초통학구역',
       '화성초통학구역', '주정차_count_300'],
      dtype='object')

In [118]:
total = total.rename(columns={"어린이집_count":"유치원_count_300",
                             "유치원_count":"유치원_count_300",
                             "초등학교_count":"초등학교_count_300",
                             "방지턱_count":"방지턱_count_300",
                             "불법주정차_cam_count":"불법주정차_cam_count_300",
                             "신호등_count_100":"신호등_sum",
                             "횡단보도_count_100":"횡단보도_sum"})
total.head(1)

,gid,accident_cnt,유치원_count_300,유치원_count_300,초등학교_count_300,방지턱_count_300,불법주정차_cam_count_300,정류장_count_100,정류장_count_300,유동인구_sum,...,오산대원초통학구역,오산원당초통학구역,오산원일초통학구역,오산초가수초공동통학구역,오산초통학구역,운산초통학구역,운암초통학구역,원동초통학구역,필봉초통학구역,화성초통학구역
0,다사561083,1,0,0,0,0,0,2,2,43.435676,...,0,0,0,0,0,0,0,0,0,0

In [128]:
total = total.rename(columns={"고령가능인구_count_100":"고령인구_count_100"})
total.head(1)

,gid,accident_cnt,유치원_count_300,유치원_count_300,초등학교_count_300,방지턱_count_300,불법주정차_cam_count_300,정류장_count_100,정류장_count_300,유동인구_sum,...,오산초통학구역,운산초통학구역,운암초통학구역,원동초통학구역,필봉초통학구역,화성초통학구역,주정차_count_300,총인구_count_100,생산가능인구_count_100,고령인구_count_100
0,다사561083,1,0,0,0,0,0,2,2,43.435676,...,0,0,0,0,0,0,0,0.0,0.0,0.0

In [130]:
total.to_file(os.path.join(path,'total.geojson'), driver='GeoJSON')

In [132]:
total_df = pd.DataFrame(total)
total_df.to_csv(os.path.join(path,'total.csv'),index=False)